#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

h1.app-title {
  margin-top: 0;
}

.marble-pack {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: center;
}

.about {
  font-weight: bold;
}