:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3.2em;
  line-height: 1.1;
  height: 2em;
  background: white;
  border: 20px solid white;
  border-radius: 0.7em;
  color: #242424;
  font-weight: 800;
  user-select: none;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and 11 */
}

button {
  border-radius: 8px;
  border: 2px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

/* custom hover color mapping */
button.filemenuitem-image:hover {
  border-color: var(--file-image)
}
button.filemenuitem-audio:hover {
  border-color: var(--file-audio)
}
button.filemenuitem-document:hover {
  border-color: var(--file-document)
}

* {
  --file-audio: #ffce90;
  --file-document: white;
  --file-image: #aaaaff;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  h1 {
    color: #ffffff;
    background-color: #213547;
  }
  * {
    --file-audio: #ffa32e;
    --file-document: 'black';
    --file-image: #5050ff;
  }
  button {
    background-color: #f9f9f9;
  }
  button > p {
    color: #242424
  }
}
